.clear {
  color: white;
  border: none;
  outline: none;
  background-color: brown;
  padding-block: 7px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  display: flex;
  align-items: center;
  padding-inline: 13px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.clear:hover {
  background-color: rgb(122, 30, 30);
}
.wrap {
  width: 100%;
  height: calc(100vh - 46.667px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 20%;
  background-color: rgb(30, 30, 30);
  height: 100%;
  z-index: 1000;
}

.folders {
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  border: none;
  appearance: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-block: 10px;
  padding-inline: 20px;
  margin: 0;
  transition: box-shadow 0.3s ease;
}

.add {
  height: 40.6667px !important;
  width: 40.6667px;
  background-color: rgb(22, 22, 22);
  cursor: pointer;
  border-radius: 8px;
  padding-block: 10px;
  padding-inline: 10px;
  transition: box-shadow 0.3s ease;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 46.6px);
  width: 80%;
}

.functions {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding-block: 20px;
  margin-inline: 5%;
}

.options {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: content-box;
  transition: background-color 0.2s ease;
}

.options:hover {
  background-color: black;
}
.option-menu li {
  color: white;
  font-size: 18px;
  padding-block: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  list-style: none;
}

.o-menu-e {
  width: 45px;
  padding-inline: 15px;
}

.option-menu li:hover {
  background-color: rgb(10, 10, 10);
}

.folders {
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  border: none;
  appearance: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-block: 10px;
  padding-inline: 20px;
  margin: 0;
  transition: background-color 0.3s ease;
}
li {
  padding-block: 5px;
  align-items: center;
}
.o-menu-e {
  width: 45px;
  padding-inline: 15px;
}
.option-menu {
  visibility: hidden;
  background-color: rgb(22, 22, 22);
  width: 150px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  left: 20.3vw;
  position: fixed;
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 0.2vw solid rgb(27, 27, 27);
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(111, 111, 111);
}

.folderbuttons {
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  height: 40.6667px !important;
  width: 40.6667px;
  background-color: rgb(22, 22, 22);
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  padding-block: 10px;
  padding-inline: 10px;
  transition: background-color 0.3s ease;
}

.add:last-of-type {
  border-radius: 0px 8px 8px 0px;
}

.add:hover,
.folders:hover {
  background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
}

#list-panel {
  overflow: auto;
  height: 400px;
}

.side-item {
  color: white;
  font-size: 18px;
  padding-block: 10px;
  padding-left: 20px;
  cursor: pointer;
  width: 90%;
  display: flex;
  margin-inline: 5%;
  justify-content: space-between;
  list-style: none;
  border-radius: 8px;
  margin-block: 5px;
  transition: background-color 0.15s ease;
}

.side-item:hover {
  background-color: rgb(22, 22, 22);
}

.welcome {
  text-align: center;
  font-size: 40px;
  padding-block: 30px;
  color: white;
}

.directions {
  color: white;
  padding-inline: 20px;
  font-size: 20px;
  line-height: 35px;
}

.listimg {
  padding-top: 50px;
  width: 20%;
  margin-inline: 40%;
}

.selected-side-item {
  background-color: rgb(22, 22, 22);
  color: #007f7f;
}

li {
  padding-block: 5px;
  align-items: center;
}

.bar-container {
  background-color: rgb(40, 40, 40);
  height: 70px;
  width: 100%;
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}

.input {
  border-radius: 10px;
  padding-inline: 30px;
  width: 60%;
  display: flex;
  height: 50px;
  position: absolute;
  border: 2px solid gray;
  bottom: 0;
  right: 10%;
  align-items: center;
  margin-block: 10px;
}

.bar {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
  width: calc(100% - 30px);
  outline: none;
}

.submit-btn {
  background-color: #007f7f;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #00a7a7;
}

.bar::placeholder {
  font-style: italic;
}

.remove {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
}

.remove:hover {
  transform: scale(1.15);
}

.edit {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
  margin-right: 20px;
}
.edit:hover {
  transform: scale(1.15);
}

.list-item {
  width: 100%;
  color: white;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  padding-block: 15px;
  margin-top: 5px;
  font-size: 18px;
  list-style: none;
  padding-inline: 20px;
}

#list {
  width: 60%;
  position: absolute;
  right: 10%;
  overflow: auto;
  height: 75%;
  margin-top: 20px;
}

.tool-bar {
  width: 80%;
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.save-button,
.tool {
  width: 20%;
  margin-right: 2%;
  padding-block: 10px;
  padding-inline: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  display: flex;
  max-height: 35vh;
  align-items: center;
  margin-block: 20px;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tool:hover {
  background-color: rgb(167, 167, 167);
}

.save-button {
  background-color: gold;
}

.save-button:hover {
  background-color: rgb(255, 149, 0);
}

.tool {
  width: 10%;
  margin-inline: 2%;
}

.color {
  visibility: hidden;
}

.color-label {
  width: 25px;
  height: 25px;
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
}

.tool-bar {
  width: calc(80% - 100px);
  margin-inline: 50px;
  background-color: rgb(30, 30, 30);
  margin-bottom: 10px;
  border-radius: 10px;
  padding-block: 5px;
  display: flex;
  justify-content: start;
  gap: 10px;
  padding-inline: 10px;
}

.bar-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.15s ease;
}

.bar-btn:hover {
  background-color: rgb(22, 22, 22);
}
.width {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  width: 25px;
  color: white;
  transition: background-color 0.15s ease;
}
