* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(40, 40, 40);
}

.select {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  border-bottom: 2px solid black;
  font-weight: bold;
  appearance: none;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cats {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 35px;
  width: 140px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
  padding-bottom: 10px;
  z-index: 10000 !important;
  transition: display 0.3s ease;
}

.select:hover #cats {
  display: flex;
  z-index: 10000;
  box-shadow: 0px 10px 15px rgb(60, 60, 60);
}

#cats a {
  color: var(--text-color);
  text-decoration: none;
  padding-block: 10px;
  font-size: 18px;
  z-index: 10000;
  position: relative;
}

#cats a::after {
  content: "";
  height: 2px;
  position: absolute;
  z-index: 10000;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: #007f7f;
  transition: width 0.15s ease;
}

#cats a:hover::after {
  width: 50%;
  background-color: #007f7f;
  transition: width 0.2s ease;
}

.movingbar {
  transform: translateX(0px) !important;
}

.wrap {
  width: 100%;
  height: calc(100vh - 46.667px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.macsidebar {
  position: absolute;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 15px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.2);
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  top: 0;
}

.link,
.olink {
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  position: relative;
  color: white;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
}

.link::after,
.olink::before {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: #007f7f;
  transition: width 0.15s ease;
}

.link:hover::after {
  width: 80%;
  background-color: #007f7f;
  transition: width 0.2s ease;
}

.olink {
  transition: color 0.15s ease;
  border-color: rgb(30, 30, 30);
}

.olink::before {
  height: 0px;
  transform: translateY(-50%);
  width: 3px;
  left: 0;
  top: 50%;
  transition: height 0.2s ease;
}

.olink:hover::before {
  height: 80%;
}

.logo {
  margin-inline: 35px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.ul {
  padding-top: 15px;
  overflow: auto;
  height: 85vh;
  padding-inline: 10px;
  padding-bottom: 25px;
}

.ul::-webkit-scrollbar {
  width: 12px;
}

.ul::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}

.actual {
  padding-block: 8px;
  padding-inline: 10px;
  outline: 2px solid transparent;
  border-radius: 5px;
  transition: outline 0.2s ease;
}

.actual:focus {
  outline: 2px solid gray;
}

.close,
.fav {
  width: 20px;
  display: inline-block;
  position: absolute;
  right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.fav {
  right: 50px;
}

.close:hover,
.fav:hover {
  transform: scale(1.15);
}

.close:active,
.fav:hover {
  transform: s cale(0.9);
}

.animate {
  animation: removing 0.2s ease;
}
.ul::-webkit-scrollbar-thumb:active {
  background-color: gray;
}

.ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10vh;
  border: 4px solid rgb(40, 40, 40);
}

.li {
  color: white;
  background-color: rgb(30, 30, 30);
  list-style-type: none;
  width: 500px;
  padding-block: 8px;
  margin-bottom: 20px;
  padding-inline: 15px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.text {
  width: 85%;
  font-size: 18px;
  padding-block: 15px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: none;
  background-color: rgb(30, 30, 30);
  color: white;
  padding-inline: 30px;
}

.btn {
  width: 15%;
  color: white;
  text-align: center;
  background-color: rgb(30, 30, 30);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  border-left: 2px solid gray;
  transition: background-color 0.15s ease;
}

.btn:hover {
  background-color: rgb(20, 20, 20);
}

.btn:active {
  background-color: rgb(10, 10, 10);
}

@keyframes removing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0);
  }
}

.overflowm {
  display: none;
  width: 40px;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  margin-inline: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  transition: background-color 0.2s ease !important;
}

.overflowm:hover {
  background-color: rgb(30, 30, 30);
}

.overflow-menu {
  display: flex;
  flex-direction: column;
  transform: translateX(-50vw);
  width: 50vw;
  position: absolute;
  padding-block: 20px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10000;
  background-color: rgb(30, 30, 30);
  transition: transform 0.3s ease !important;
}

.menu-slide {
  transform: translateX(0px);
  box-shadow: 0px 0px 10px rgb(30, 30, 30);
}

.secondselect {
  display: none;
}

@media (width < 800px) {
  .link {
    display: none;
  }
  .secondselect {
    display: flex;
  }
}

@media (width < 500px) {
  .link,
  .select {
    display: none;
  }
  .logo {
    padding-block: 8px;
    box-sizing: content-box;
    margin: 0;
  }
  .overflowm {
    display: flex;
  }
}

.remove {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
}

.remove:hover {
  transform: scale(1.15);
}

.edit {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
  margin-right: 20px;
}

.editing {
  outline: 2px solid #4ee0f5;
}

.edit:hover {
  transform: scale(1.15);
}

.input {
  width: 90%;
  margin-inline: 5%;
  padding-block: 10px;
  padding-inline: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  max-height: 35vh;
  align-items: center;
}

#tasks-input {
  padding-block: 10px;
  position: absolute;
  width: 64%;
  background-color: rgb(40, 40, 40);
  bottom: 0px;
}

.complete {
  cursor: pointer;
  float: left;
  padding-right: 11px;
  opacity: 1;
}

input {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: white;
  border: none;
  width: 94%;
  padding-inline: 20px;
}

input::placeholder {
  color: white;
  font-style: italic;
}

input:focus::placeholder {
  color: transparent;
}

ul {
  width: 100%;
  word-wrap: break-word;
  list-style-type: none;
  padding-inline: 5%;
  padding-top: 0px;
}
.sidebar {
  width: 20%;
  background-color: rgb(30, 30, 30);
  height: 100%;
}

.side-item {
  color: white;
  font-size: 18px;
  padding-block: 10px;
  padding-left: 20px;
  cursor: pointer;
  width: 90%;
  display: flex;
  margin-inline: 5%;
  justify-content: space-between;
  list-style: none;
  border-radius: 8px;
  margin-block: 5px;
  transition: background-color 0.15s ease;
}

.side-item:hover {
  background-color: rgb(22, 22, 22);
}

.side-item:first-of-type {
  background-color: rgb(22, 22, 22);
  color: #007f7f;
}

.options {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: content-box;
  transition: background-color 0.2s ease;
}

.options:hover {
  background-color: black;
}

.option-menu {
  visibility: hidden;
  background-color: rgb(22, 22, 22);
  width: 150px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  left: 20.3vw;
  position: fixed;
}

.notaskimg {
  width: 70%;
  margin-inline: 15%;
}

#notask {
  width: 50%;
  margin-inline: 25%;
  font-size: 18px;
  color: rgb(190, 190, 190);
  line-height: 28.8px;
  margin-top: 10vh;
  text-align: center;
}

.folderbuttons {
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-menu li {
  color: white;
  font-size: 18px;
  padding-block: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  list-style: none;
}

.o-menu-e {
  width: 45px;
  padding-inline: 15px;
}

.option-menu li:hover {
  background-color: rgb(10, 10, 10);
}

.folders {
  background-color: rgb(22, 22, 22);
  border-radius: 8px;
  border: none;
  appearance: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-block: 10px;
  padding-inline: 20px;
  margin: 0;
  transition: background-color 0.3s ease;
}

.add {
  height: 40.6667px !important;
  width: 40.6667px;
  background-color: rgb(22, 22, 22);
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  padding-block: 10px;
  padding-inline: 10px;
  transition: background-color 0.3s ease;
}

.add:last-of-type {
  border-radius: 0px 8px 8px 0px;
}

.add:hover,
.folders:hover {
  background-color: black;
}

.main {
  padding-block: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 46.6px);
  width: 80%;
}

.functions {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding-block: 20px;
  margin-inline: 5%;
}

#tasks ul {
  padding-bottom: 80px;
}

li {
  padding-block: 5px;
  align-items: center;
}

.complete2 {
  opacity: 1;
}

#tasks {
  width: 80%;
  display: block;
  max-height: 100%;
  font-size: 18px;
  color: white;
  padding-block: 10px;
  overflow: auto;
  padding-bottom: 0;
}

#tasks li {
  margin-block: 4px;
  background-color: rgb(30, 30, 30);
  padding-block: 12px;
  padding-inline: 11px;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: default;
}

#tasks button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: #4ee0f5;
  color: rgb(0, 0, 0);
  padding-inline: 5px;
  padding-block: 5px;
  border-radius: 300px;
  height: 30px;
  width: 30px;
}

.placeholder {
  background-color: #4ee0f5;
  padding: 0;
  height: 0.5vh;
}
