.tasks {
    display: flex;
}

.tasks-sidebar {
    margin-left: 100px;
    width: 210px;
    border-right: 2px solid var(--primary-border);
    height: calc(100vh - 70px);
}

.sidebar-title {
    color: var(--primary-text);
    font-size: 20px;
    text-align: center;
    padding-block: 30px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-right: 15px;
}

.sidebar-item {
    color: var(--secondary-text);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover {
    background-color: var(--secondary-bg);
}

.tasks-content {
    flex: 1;
    position: relative;
}

.message {
    text-align: center;
    color: var(--secondary-text);
    font-size: 18px;
    margin-top: 200px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 160px);
    overflow: auto;
    padding-inline: 100px 90px;
    padding-top: 20px;
}

.tasks-item {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    color: var(--primary-text);
    font-size: 18px;
    padding: 15px 20px;
    position: relative;
}

.del {
    position: absolute;
    right: 15px;
}

.tasks-bar {
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: calc(100% - 200px);
    border: 2px solid var(--primary-border);
    border-radius: 10px;
}

.tasks-input {
    width: 100%;
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary-text);
    font-size: 20px;
}

.tasks-list::-webkit-scrollbar {
    width: 10px;
}

.tasks-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text);
    border-radius: 10px;
    border: 2px solid var(--primary-bg);
}

.tasks-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-text);
}