body {
  overflow: hidden;
}

.tasks {
  display: flex;
}

.tasks-sidebar {
  margin-left: 100px;
  width: 210px;
  border-right: 2px solid var(--primary-border);
  height: calc(100vh - 70px);
  position: relative;
}

.sidebar-title {
  color: var(--primary-text);
  font-size: 20px;
  text-align: center;
  padding-block: 30px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-right: 15px;
}

.sidebar-item {
  color: var(--secondary-text);
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  display: flex;
  gap: 0px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:has(.sidebar-item-emoji:hover) {
  background-color: var(--primary-bg);
}

.sidebar-item-emoji {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.sidebar-item-emoji:hover {
  background-color: var(--secondary-bg);
}

.sidebar-item:hover {
  background-color: var(--secondary-bg);
}

.sidebar-selected {
  background-color: var(--secondary-bg);
}

.sidebar-item:hover .sidebar-item-icons {
  display: flex;
  opacity: 1;
}

.sidebar-item-text {
  border: 2px solid transparent;
  padding: 5px 10px;
}

.sidebar-item-input {
  border: 2px solid var(--primary-color);
  padding: 5px 10px;
  background-color: transparent;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
}

.sidebar-item-icons {
  display: flex;
  opacity: 0;
  position: absolute;
  right: 10px;
  gap: 10px;
  transition: opacity 0.3s ease;
}

.sidebar-item-icon {
  width: 18px;
  filter: var(--invert);
  transition: transform 0.3s ease;
}

.sidebar-item-icon:hover {
  transform: scale(1.2);
}

em-emoji-picker {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
}

.sidebar-create {
  position: absolute;
  bottom: 20px;
  border-radius: 10px;
  border: 2px solid var(--primary-border);
  width: calc(100% - 15px);
  color: var(--secondary-text);
  text-align: center;
  font-size: 18px;
  padding-block: 10px;
  cursor: pointer;
}

.sidebar-create:hover {
  background-color: var(--secondary-bg);
}

.tasks-content {
  flex: 1;
  position: relative;
}

.message {
  text-align: center;
  color: var(--secondary-text);
  font-size: 18px;
  margin-top: 200px;
}

.tasks-filters {
  display: flex;
  padding-inline: 100px;
  gap: 50px;
  padding-block: 15px;
}

.filter-search {
  flex: 1;
  border: 2px solid var(--primary-border);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.filter-bar {
  background-color: transparent;
  font-size: 16px;
  color: var(--primary-text);
  padding: 10px 20px;
  outline: none;
  border: none;
}

.search-icon {
  position: absolute;
  right: 20px;
  width: 25px;
  cursor: pointer;
}

.drag-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks-filter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-icon {
  width: 25px;
  filter: var(--invert);
}

.filter-dropdown {
  border: none;
  outline: none;
  background-color: var(--secondary-bg);
  appearance: none;
  border-radius: 5px;
  color: var(--secondary-text);
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  padding-inline: 10px;
  height: 35px;
}

.tasks-lists {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 280px);
  gap: 15px;
}

.tasks-list,
.tasks-completed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  overflow: auto;
  padding-inline: 100px 90px;
  padding-bottom: 20px;
  overflow-x: hidden;
  flex: 1.5;
}

.tasks-item {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  color: var(--primary-text);
  font-size: 18px;
  padding: 10px 15px;
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}

.task-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: var(--invert);
}

.task-tag,
.task-label {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-block: 5px;
  width: 45px;
  margin-left: 5px;
  cursor: pointer;
  appearance: none;
  text-align: center;
}

.p-1 {
  background-color: green !important;
}

.p-2 {
  background-color: rgb(250, 140, 0) !important;
}

.p-3 {
  background-color: red !important;
}

.task-labels {
  display: flex;
  margin-left: 10px;
}

.task-label {
  width: fit-content;
  padding-inline: 10px;
  cursor: default;
}

.label-list {
  position: absolute;
  right: -40px;
  top: 40px;
  background-color: var(--primary-bg);
  border: 2px solid var(--primary-border);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 5px;
  overflow: auto;
  width: 150px;
}

.label-list .message {
  margin-block: 10px 20px;
}

.label-items {
  max-height: 200px;
  overflow: auto;
  padding-bottom: 10px;
}

.label-item {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  padding: 10px 5px;
  color: var(--primary-text);
}

.form-labels .label-list {
  right: 90px;
  top: auto;
  bottom: 90px;
}

.label-item input {
  cursor: pointer;
}

.label-item img {
  width: 15px;
  right: 5px;
  position: absolute;
  cursor: pointer;
}

.add-label {
  position: sticky;
  bottom: -5px;
  width: 100%;
}

.add-label input {
  width: 100%;
  border: 1px solid var(--primary-border);
  outline: none;
  background-color: var(--primary-bg);
  border-radius: 5px;
  color: var(--primary-text);
  font-size: 16px;
  padding: 5px 10px;
}

.task-calendar {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;
  border: 2px solid var(--primary-border);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-bg);
}

.tasks-bar .task-calendar {
  bottom: 60px;
  top:-280px;
}

.clear-calendar {
  text-align: center;
  padding-block: 5px;
  font-size: 16px;
  border-top: 2px solid var(--primary-border);
  cursor: pointer;
  color: var(--secondary-text);
  margin-top: -4px;
}

.task-icons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.task-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: var(--invert);
}

.tasks-bar {
  position: absolute;
  bottom: 20px;
  left: 100px;
  width: calc(100% - 190px);
  border: 2px solid var(--primary-border);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.tasks-bar .task-tag {
  background-color: var(--secondary-bg);
}

.tasks-input {
  width: 100%;
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary-text);
  font-size: 20px;
}

.task-info {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 3px;
}

.tasks-item:has(.task-date) {
  padding-block: 5px;
}

.task-info:has(.task-date) {
  padding-block: 0px;
}

.task-text {
  border: 2px solid transparent;
}

.task-date {
  font-size: 13px;
  color: var(--secondary-text);
}

.text-input {
  color: var(--primary-text);
  font-size: 18px;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  width: calc(100% - 150px);
}

.tasks-completed {
  flex: 1;
  max-height: 200px;
  scrollbar-gutter: stable;
}

.tasks-completed .message {
  margin-top: 30px;
}

.completed-item {
  color: var(--secondary-text);
  filter: brightness(70%);
  text-decoration: line-through;
}

.completed-btn {
  background-color: var(--secondary-bg);
  width: fit-content;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  bottom: 85px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
  color: var(--secondary-text);
  margin-left: 100px;
}

.completed-img {
  width: 10px;
  filter: var(--invert);
  transition: transform 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text);
  border-radius: 10px;
  border: 2px solid var(--primary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-text);
}
